<section class="mb-2">
    <div class="mb-1">
        <button class="rounded text-white bg-malachite-800 border-malachite-900 px-3 py-1 border" value="published" form="trip" data-turbo="false">Save Trip</button>
    </div>
</section>
<section class="mb-2">
    <div class="mt-2">
        {{ form.visibility.label_tag }}
        {{ form.visibility }}
    </div>
</section>
<section class="mb-2">
    <div class="mt-2">
        <div>{{ form.t_trip.label_tag }}</div>
        {{ form.t_trip }}
    </div>
</section>
{% if form.instance.pk %}
<section>
    <a href="{% url 'public:trip_detail' form.instance.uuid %}" class="ml-auto btn-link" target="_new">View on site</a>
</section>
{% endif %}