{% extends "base.html" %}


{% block content %}
    <nav id="breadcrumbs" class="breadcrumbs pb-2 mb-2 ml-2 md:ml-0">
        <a href="{% url "posts" %}" class="underline">Health</a><span class="ml-2">> Top</span>
    </nav>
    <main class="mt-2 ml-2 md:ml-0">
        <nav>
            <a href="{% url "plugin_health_admin:add_daily_health" %}" data-turbo-frame="_top" class="primary-button"><span class="mr-1">🌅</span><span class="hover:underline">Add Daily Health</span></a>
        </nav>
        {# TODO: Add graphs #}
    </main>
{% endblock %}