{% load gravatar utils %}
{% url 'public:author' p_author.username as author_url %}
<span
    class="author p-author vcard hcard h-card" itemprop="author " itemscope=""
    itemtype="http://schema.org/Person">
    <img alt=""
         src="{{ p_author.email|retina_gravatar_url }}"
         class="avatar avatar-40 photo u-photo round inline-block hidden"
         itemprop="image"
         loading="lazy"
         width="40"
         height="40">
    <a
    class="url uid u-url u-uid p-name" href="{{ author_url|absolute_uri:request }}"
    title="View all posts by {{ p_author.first_name }}" rel="author" itemprop="url">
        <span itemprop="name">{{ p_author.first_name }}</span></a>
</span>