-r requirements.txt

tox
pytest
pytest-django
pytest-cov
pytest-freezegun
pytest-lazy-fixture
pytest-pythonpath
model-bakery
mypy
types-dataclasses
types-pytz
types-requests
typing-extensions
flake8
black
django-debug-toolbar