-c requirements.lock


Django
envparse
django-meta
django-webmention
djangorestframework
beautifulsoup4
exif
Pillow
mf2py
mf2util
django-picklefield
ftfy
ronkyuu
ninka
extruct
django-turbo-response
phpserialize
django-htmx