-r requirements.txt

tox
pytest
pytest-django
pytest-cov
time_machine
pytest-lazy-fixtures
model-bakery
mypy
types-dataclasses
types-pytz
types-requests
typing-extensions
flake8
black
django-debug-toolbar
mkdocs
isort
factory_boy