-r requirements.txt

tox
pytest
pytest-django
pytest-cov
pytest-freezegun==0.4.1
pytest-lazy-fixture
model-bakery
mypy
types-dataclasses
types-pytz
types-requests
typing-extensions
flake8
black
django-debug-toolbar
mkdocs
isort
factory_boy