{%  extends "base.html" %}

{% block breadcrumbs_block %}
{% endblock %}

{% block main %}
    <details open>
        <summary open>
            Webmentions
            <div class="inline-block ml-1">
            {% if unread_count %}
                <div class="rounded-full flex h-6 w-6 bg-negroni-700 items-center justify-center text-white" title="{{ unread_count }} un-moderated webmention{{ unread_count|pluralize }}">{{ unread_count }}</div>
            {% endif %}
            </div>
        </summary>
        <ul>
            {% for t_webmention in webmentions %}
                {% include "indieweb/webmention/webmention.html" %}
            {% endfor %}
        </ul>
    </details>
{% endblock %}


{% block meta %}
    <details class="button-summary inline-block">
        <summary class="focus:outline-none">
            <a href="{% url "status_create" %}" class=""><span class="mr-1">💬</span>New Status</a>
        </summary>
        <ul class="pl-5">
          <li class="py-1"><a href="{% url "article_create" %}"><span class="mr-1">✏️</span><span class="hover:underline">New Article</span></a></li>
        </ul>
    </details>
{% endblock %}
