{% load utils %}
<footer class="mt-2 pt-2 sm:flex-col md:flex{% if detail %} border-t-2 border-secondary-600{% endif %}">
    <div>
        <a href="{{ permalink|absolute_uri:request }}" class="mr-2 u-url" title="permalink" rel="bookmark"><span class="mr-0.5">🔗</span>permalink</a>
        {% if t_entry.interaction_count %}
            <a href="{{ permalink|absolute_uri:request }}?o=1"><span>{{ t_entry.interaction_count }}</span> interaction{{ t_entry.interaction_count|pluralize }}</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{{ edit_link }}" class="ml-auto"><span class="mr-0.5">✏️</span>edit️</a>
        {% endif %}
        {% if detail %}
            {% if t_entry.t_syndication.all %}
            <p class="mt-2 help-text">This post is also found on
                {% for syndication in t_entry.t_syndication.all %}
                    <a href="{{ syndication.url }}" class="u-syndication">{{ syndication.url|domain|cut:"www." }}</a>
                {% endfor %}
            </p>
            {% endif %}
        {% endif %}
    </div>
    {% if detail %}
        {% if t_entry.t_location %}
            {% include "public/fragments/meta_map.html" with t_location=t_entry.t_location %}
        {% endif %}
    {% endif %}
</footer>