{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="{% static 'tailwind/style.css' %}" rel="stylesheet">
    <link href="{% static 'trix/trix.css' %}" rel="stylesheet">
    <link href="{% static 'leaflet/leaflet.css' %}" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css"
    />
    {% with request.scheme|add:"://"|add:request.get_host as absolute_url %}
        <link href="{{ absolute_url }}{% url  'indieweb:indieauth_authorize' %}" rel="authorization_endpoint">
        <link href="{{ absolute_url }}{% url  'indieweb:indieauth_token' %}" rel="token_endpoint">
    {% endwith %}
    {% if form %}{{ form.media.css }}{% endif %}
    <title>{{ page_title }}🏔 Tanzawa</title>
    <script src="{% static 'trix/trix.js' %}"></script>
    <script src="{% static 'trix/attachments.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body class="bg-bianca-500">
    <div class="">
        <header class="max-w mx-auto p-2">
            <nav>
                <h1 class="text-negroni-900 text-2xl"><a href="{% url 'public:home' %}"><span class="mr-1">🏔</span>Tanzawa</a></h1>
            </nav>
        </header>
        <div class="flex">
            <nav id="section-nav" class="min-w-min p-2 flex">
                <ul class="mb-2" data-controller="select" data-select-selected-class="selected">
                    <li class="{% if nav == 'dashboard' %}selected{% endif %} w-28 p-1 mb-2" data-select-target="menuItem"><a href="{% url "post:dashboard" %}" data-turbo-frame="_top" data-action="select#click"><span class="mr-1">🏡</span><span>Home</span></a></li>
                    <li class="{% if nav == 'posts' %}selected{% endif %} w-28 p-1 mb-2" data-select-target="menuItem"><a href="{% url "posts" %}" data-turbo-frame="_top" data-action="select#click"><span class="mr-1">✏️</span><span>Posts</span></a></li>
                    <li class="{% if nav == 'settings' %}selected{% endif %} w-28 p-1 mb-2" data-select-target="menuItem"><a href="{% url 'admin:index' %}"><span class="mr-1">⚙️</span><span>Settings</span></a></li>
                </ul>
            </nav>
            <div id="content" class="w-11/12 flex flex-col">
                {% block content %}
                {% include "fragments/content.html" %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
