{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if title %}{{ title }} - {% endif %}🏔 {{ request.settings.title }}</title>
    {% with request.scheme|add:"://"|add:request.get_host as absolute_url %}
    <link rel="alternate" type="application/rss+xml" title="🏔Tanzawa" href="{{ absolute_url }}{% url 'feeds:feed' %}">
    {% if stream %}
    <link rel="alternate" type="application/rss+xml" title="🏔Tanzawa - {{ stream.name }} Feed" href="{{ absolute_url }}{% url 'feeds:stream_feed' stream.slug %}">
    {% endif %}
    <link href="{{ absolute_url }}{% url  'indieweb:indieauth_authorize' %}" rel="authorization_endpoint"/>
    <link href="{{ absolute_url }}{% url  'indieweb:indieauth_token' %}" rel="token_endpoint"/>
    <link href="{{ absolute_url }}{% url 'indieweb:micropub' %}" rel="micropub"/>
    <link href="{{ absolute_url }}{% url 'micropub_media' %}" rel="micropub_media"/>
    <link href="{% static 'tailwind/style.css' %}?=1" rel="stylesheet">
    <link rel="webmention" href="{{ absolute_url }}{% url "webmention:receive" %}"/>
    {% endwith %}
    <link href="{% static 'leaflet/leaflet.css' %}" rel="stylesheet">
    <script src="{% static 'js/public.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body class="bg-bianca-500">
    <div class="min-h-screen flex flex-col">
        <header class="p-2">
            {% block header %}
            <nav  data-controller="reveal">
                <div class="flex">
                    <h1 class="text-negroni-900 text-2xl"><a href="{% url "public:home" %}"><span class="mr-1">🏔</span>{{ request.settings.title }}</a></h1>
                    <div class="ml-auto pt-2 md:hidden">
                        <button data-reveal-target="button" data-action="click->reveal#toggle">
                            <div class="w-8 bg-negroni-700 h-1"></div>
                            <div class="w-8 bg-negroni-700 h-1 mt-1"></div>
                            <div class="w-8 bg-negroni-700 h-1 mt-1"></div>
                        </button>
                    </div>
                </div>
                <ul data-reveal-target="item" class="mb-2 hidden md:hidden mt-2">
                    <li class="{% if 'home' in selected %}border-l-4 border-negroni-900{% endif %} p-1 mb-2"><a href="{% url "public:home" %}" class="w-full inline-block"><span class="mr-1">🏡</span><span>Home</span></a></li>
                    {% for stream in streams %}
                        <li class="{% if stream.slug in selected %}border-l-4 border-negroni-900{% endif %} p-1 mb-2"><a href="{% url "public:stream" stream.slug %}" class="w-full inline-block><span class="mr-1">{{ stream.icon }}</span><span>{{ stream.name }}</span></a></li>
                    {% endfor %}
                </ul>
            </nav>
            {% endblock %}
        </header>
        <div class="md:flex md:flex-grow">
            {% block content_wrapper  %}
            <nav id="section-nav" class="min-w-min p-2 flex flex-col hidden md:block">
                <ul class="mb-2">
                    <li class="{% if 'home' in selected %}selected{% endif %} w-36 p-1 mb-2"><a href="{% url "public:home" %}"><span class="mr-1">🏡</span><span>Home</span></a></li>
                    {% for stream in streams %}
                        <li class="{% if stream.slug in selected %}selected{% endif %} w-36 p-1 mb-2"><a href="{% url "public:stream" stream.slug %}"><span class="mr-1">{{ stream.icon }}</span><span>{{ stream.name }}</span></a></li>
                    {% endfor %}
                </ul>
            </nav>
            <div class="flex-col md:w-11/12 md:flex">
                {% block content_before %}{% endblock %}
                <div id="main-container" class="flex-col md:flex">
                    {% block content %}
                        <main id="main" class="main md:w-9/12 max-w-prose md:order-first p-2">
                            {% block breadcrumbs_block %}
                                <nav id="breadcrumbs" class="breadcrumbs pb-2 mb-2">
                                    {% block breadcrumbs %}{% endblock %}
                                </nav>
                            {% endblock %}
                            {% block main %}{% endblock %}
                        </main>
                        {% block meta_section %}
                        <section id="meta" class="meta order-first md:w-3/12 p-2">
                            {% block meta %}{% endblock %}
                        </section>
                        {% endblock %}
                    {% endblock  %}
                </div>
                {% block content_after %}
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        <footer class="w-full text-center">
            <span class="help-text">Made with care in Yokohama by <a href="https://jamesvandyne.com">@jamesvandyne</a></span>
        </footer>
    </div>
</body>
</html>
