{%  extends "base_public.html" %}
{% load utils %}


{% block content %}
    <ul>
    {% for t_trip in object_list %}
        <li class="py-2 my-2 md:w-99">
            <div class="flex-col">
                <div class="flex">
                    <div class="inline-block text-2xl h-auto"></div>
                    <div class="ml-4 flex-grow">
                        <header>
                            <h1 class="text-xl"><a href="{% url "public:trip_detail" t_trip.uuid %}">{{ t_trip.name }}</a></h1>
                            <h2 class="help-text">{{ t_trip.d_start }} ~ {{  t_trip.d_end|default_if_none:"" }}</h2>
                        </header>
                        <main class="content flex mt-2">
                            <p class="w-50">{{ t_trip.p_summary|truncatechars:"140" }}</p>
                            <div class="w-96 ml-auto" data-controller="trip-map-list">
                                <a href="{% url 'public:trip_detail' t_trip.uuid %}" title="See the full trip">
                                {% with t_trip.t_trip_location.first as start_point %}
                                <div id="map-{{ forloop.counter }}"
                                     data-trip-map-list-target="map"
                                     data-start-lon="{{ start_point.point.x }}"
                                     data-start-lat="{{ start_point.point.y }}"
                                     data-default-zoom="4"
                                     class="w-96 h-44"
                                ></div>
                                {% endwith %}
                                <ul class="hidden">
                                    {% for t_location_point in t_location_points|get_key:t_trip.id %}
                                    <li data-trip-map-list-target="entry"
                                        data-lat="{{ t_location_point.y }}"
                                        data-lon="{{ t_location_point.x }}"
                                    ></li>
                                    {% endfor %}
                                </ul>
                                </a>
                            </div>
                        </main>
                        <footer class="flex mt-2 pb-2 border-b-2 border-bianca-600">
                            <a href="{% url 'public:trip_detail' t_trip.uuid %}" class=""><span class="mr-0.5">🔗</span>permalink</a>
                        </footer>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
    {% include "fragments/paging.html" %}
{% endblock %}