@tailwind base;
@tailwind components;
@tailwind utilities;


.trix-button-group, .trix-content {
    @apply bg-white;
}

.selected {
    @apply border-r-4 border-negroni-900;
}


.animate-fade-out {
    animation: fade 1s linear 1 forwards;
    animation-delay: 5s;

}

@keyframes fade {
    0% {
        opacity: 1;
        height: auto;
    }
    75% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
}


main.content a, .trix-content a, #messages a {
    @apply underline;
}

.green-button {
    @apply rounded text-white bg-malachite-800 border-malachite-900 px-3 py-1 border;
}

.outline-button {
    @apply rounded border-negroni-900 text-negroni-800 border px-3 py-1;
}

.input-field {
    @apply appearance-none border border-bianca-800 w-full py-2 px-3 leading-tight focus:outline-none focus:ring-0;
    border-radius: 3px;
}

.input-field[readonly] {
    @apply appearance-none bg-transparent w-full py-2 px-3 leading-tight line-through;
}

.trix-content {
    @apply focus:ring-0 focus:outline-none;
}

.help-text {
    @apply text-xs text-bianca-800;
}

details.button-summary {
    @apply rounded text-white bg-malachite-800 border-malachite-900 px-3 py-1 border;
}

details.button-summary > summary::marker {
    display: inline-block;
    color: white;
}