{% load humanize utils %}
{% url 'public:post_detail' t_post.uuid as permalink %}
{% url 'status_edit' t_entry.pk as edit_link %}

<div class="flex-col h-entry">
    <header>
        {% if t_entry.p_name%}
            <h1 class="p-name text-2xl">{{ t_entry.p_name }}</h1>
        {% endif %}
        <div class="italic">
            <time class="dt-published" datetime="{{ t_post.dt_published.isoformat }}">
            {% if t_post.dt_published|date:"d" == now|date:"d" %}
                {{ t_post.dt_published|naturaltime }}
            {% else %}
                {{ t_post.dt_published|date:"M d, Y" }}
            {% endif %}
            </time>
            {% include 'author/byline.html' with p_author=t_post.p_author %}
            {% if t_entry.t_location %}
                {% include 'public/fragments/location_link.html' %}
            {% endif %}
        </div>
    </header>
    <main class="e-content mb-2 pt-2 content">
        {{ t_entry.e_content|safe }}
    </main>
    <section class="mt-2">
        {% for activity in activities %}
            <div class="grid grid-cols-2 md:grid-cols-4 mt-2">
                <p><span class="text-2xl text-secondary font-bold mr-1">{{ activity.distance_km|floatformat }}</span><span class="text-sm">km</span></p>
                <p><span class="text-2xl text-secondary font-bold mr-1">{{ activity.elapsed_time_minutes|floatformat }}</span><span class="text-sm">min</span></p>
                <p><span class="text-2xl text-secondary font-bold mr-1">{{ activity.total_elevation_gain|floatformat }}</span><span class="text-sm">m climbed</span></p>
                <p><span class="text-2xl text-secondary font-bold mr-1">{{ activity.average_heartrate|floatformat }}</span><span class="text-sm">avg bpm</span></p>
            </div>
            <div class="flex mt-2">
                {% for photo in activity.photos %}
                    <img src="{{ photo.url }}" alt="" class="h-80"/>
                {% endfor %}
                <div class="ml-auto">
                    {{ activity.route_svg }}
                </div>
            </div>
        {% endfor %}
    </section>
    {% include "public/fragments/post_footer.html" %}
</div>
