{% load humanize %}
<div class="flex-col h-entry">
    <header class="u-in-reply-to">
        {% if t_reply %}
            <h1 class="p-name text-xl">
                Response to <a href="{{ t_reply.u_in_reply_to }}" class="inline-block  hover:border-b u-url" title="{{ t_reply.title }}">{{ t_reply.title }}</a>
            </h1>
        {% endif %}
        <div>
            <time class="dt-published" datetime="{{ t_post.dt_published.isoformat }}">
            {% ifequal t_post.dt_published|date:"d" now|date:"d" %}
                {{ t_post.dt_published|naturaltime }}
            {% else %}
                {{ t_post.dt_published|date:"M d, Y" }}
            {% endifequal %}
            </time>
            {% include 'author/byline.html' with p_author=t_post.p_author %}
        </div>
    </header>
    <blockquote class="border-l-2 border-bianca-600 mt-4 mb-4 pl-2 max-w-prose">
        {{ t_reply.quote }}
    </blockquote>
    <main class="e-content mb-2 pt-2 content max-w-prose">
        {{ t_entry.e_content|safe }}
    </main>
    <footer class="mt-2 pt-2{% if detail %} border-t-2  border-bianca-600{% endif %}">
        <a href="{% url 'public:post_detail' t_post.uuid %}" class="mr-2 u-url" title="permalink" rel="bookmark"><span class="mr-0.5">🔗</span>permalink</a>
        {% if t_entry.interaction_count %}
            <span>{{ t_entry.interaction_count }}</span> interaction{{ t_entry.interaction_count|pluralize }}
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'article_edit' t_entry.pk %}" class="ml-auto"><span class="mr-0.5">✏️</span>edit️</a>
        {% endif %}
    </footer>
</div>