{% load humanize %}

<div class="flex-col">
    <header>
        {% ifequal status.created_at|date:"d" now|date:"d" %}
            {{ status.created_at|naturaltime }}
        {% else %}
            {{ status.created_at|date:"M d, Y" }}
        {% endifequal %}
        {% if detail %}
            <span class="author">
                by {{ t_post.p_author.get_full_name }}
            </span>
        {% endif %}
    </header>
    <main class="content mb-2">
        {{ status.e_content|safe }}
    </main>
    <footer class="">
        <a href="{% url 'public:post_detail' t_post.uuid %}" class="mr-2" title="permalink"><span class="mr-0.5">🔗</span>permalink</a>
        {% if user.is_authenticated %}
        <a href="{% url 'status_edit' status.pk %}"><span class="mr-0.5">✏️</span>edit️</a>
        {% endif %}
    </footer>
</div>
