{% load humanize %}

<div class="flex-col h-entry">
    <header>
        <time class="dt-published" datetime="{{ t_post.dt_published.isoformat }}">
        {% ifequal t_post.dt_published|date:"d" now|date:"d" %}
            {{ t_post.dt_published|naturaltime }}
        {% else %}
            {{ t_post.dt_published|date:"M d, Y" }}
        {% endifequal %}
        </time>
        {% if detail %}
            {% include 'author/byline.html' with p_author=t_post.p_author %}
        {% endif %}
    </header>
    <main class="e-content mb-2 content">
        {{ status.e_content|safe }}
    </main>
    <footer class="">
        <a href="{% url 'public:post_detail' t_post.uuid %}" class="mr-2 u-url" title="permalink" rel="bookmark"><span class="mr-0.5">🔗</span>permalink</a>
        {% if user.is_authenticated %}
        <a href="{% url 'status_edit' status.pk %}"><span class="mr-0.5">✏️</span>edit️</a>
        {% endif %}
    </footer>
</div>
