<section class="mb-2">
    <div class="mb-1">
        <button class="rounded text-white bg-malachite-800 border-malachite-900 px-3 py-1 border" name="m_post_status" value="published" form="entry" data-turbo="false">Save Post</button>
    </div>
</section>
<section class="mb-2">
    <div class="mt-2">
        <div>{{ form.m_post_status.label_tag }}</div>
        {{ form.m_post_status }}
    </div>
    <div class="mt-2">
        {{ form.visibility.label_tag }}
        {{ form.visibility }}
    </div>
</section>
<section class="mb-2">
    <div class="mt-2">
        <div>{{ form.t_trip.label_tag }}</div>
        {{ form.t_trip }}
    </div>
</section>
{% if form.instance.pk %}
<section>
    <a href="{% url 'public:post_detail' form.instance.t_post.uuid %}" class="ml-auto btn-link" target="_new">View on site</a>
</section>
{% endif %}