{% load static %}

<form id="entry" action="" method="POST" class="flex-col" >
    {{ form.errors }}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% csrf_token %}
    {% if object %}
        {% include "interfaces/dashboard/entry/bookmark/_bookmark_title.html" with title=object.t_bookmark.title url=object.t_bookmark.u_bookmark_of  t_entry_id=object.id %}
    {% else %}
        {% include "interfaces/dashboard/entry/bookmark/_bookmark_title.html" with title=form.title.value url=form.u_bookmark_of.value %}
    {% endif %}
    <div class="pt-2">
        {{ form.tags.label }}
        <span class="block help-text">{{ form.tags.help_text }}</span>
        {{ form.tags }}
    </div>
    <div class="pt-2">
        {{ form.summary.label }}
        <span class="block help-text">{{ form.summary.help_text }}</span>
        {{ form.summary }}
    </div>
    <div class="pt-2">
        {{ form.e_content.label }}
        <span class="font-serif">
        {{ form.e_content }}
        </span>
        {{ form.media.css }}
    </div>
    <div class="pt-2">
        {{ form.streams.label }}
        <div class="flex">
            {{ form.streams }}
        </div>
    </div>
    {% include "entry/fragments/location_form.html" %}
    {% include "entry/fragments/syndication_form.html" %}
</form>
