{% load humanize %}

<div class="flex-col">
    <header>
        {% ifequal status.create_at|date:"d" day %}
            {{ status.created_at|naturaltime }}
        {% else %}
            {{ status.created_at|date:"M d, Y" }}
        {% endifequal %}
    </header>
    <main class="content mb-2">
        {{ status.e_content|safe }}
    </main>
    {% if not hide_footer %}
    <footer class="">
        <a href="{% url 'public:post_detail' status.t_post.uuid %}" class="mr-2"><span class="mr-0.5">🔗</span>permalink</a>
        <a href="{% url 'status_edit' status.pk %}"><span class="mr-0.5">✏️</span>edit️</a>
    </footer>
    {% endif %}
</div>
