{#  Dashboard approval template #}
<details {% if unread_count %}open{% endif %}>
    <summary>
        Webmentions
        <div class="inline-block ml-1">
        {% if unread_count %}
            <div class="rounded-full flex h-6 w-6 bg-negroni-700 items-center justify-center text-white" title="{{ unread_count }} un-moderated webmention{{ unread_count|pluralize }}">{{ unread_count }}</div>
        {% endif %}
        </div>
    </summary>
    <ul>
        {% for t_webmention in webmentions %}
            {% include "indieweb/webmention/webmention.html" %}
        {% endfor %}
    </ul>
</details>