{% extends "base.html" %}
{% load utils %}
{% block content %}
    {% if messages %}
        {% include "fragments/messages.html" %}
    {% endif %}
    <h1 class="text-xl">Import from Wordpress</h1>
    <div class="flex">
        {% for t_wordpress in object_list %}
            <div class="flex-col">
                <span>{{ t_wordpress }}</span>
                <span class="block help-text">{{ t_wordpress.link|domain }}</span>
            </div>
            <a href="{% url 'wordpress:t_category_mapping' t_wordpress.pk %}">Category Mapping</a>
            <a href="{% url 'wordpress:t_post_kind_mapping' t_wordpress.pk %}">Post Kind Mapping</a>
            <a href="{% url 'wordpress:t_wordpress_attachment_list' t_wordpress.pk %}">Import Attachments</a>
            <button disabled>Import Posts</button>
            </div>
        {% endfor %}
    </div>
{% endblock %}