{% extends "base.html" %}

{% block content %}
    {% if messages %}
        {% include "fragments/messages.html" %}
    {% endif %}
    <h1 class="text-xl">Importing Attachments...</h1>
    <p>Leave this page open while Tanzawa imports your attachments.</p>
    <ul>
        {% for t_wordpress_attachment in object_list reversed %}
            <li class="flex mt-2">
                <turbo-frame id="{{ t_wordpress_attachment.uuid }}" class="flex" src="{% url 'wordpress:import_attachment' t_wordpress_attachment.uuid %}">
                    {% include "wordpress/_attachment.html" with img_src=t_wordpress_attachment.guid loading="true" %}
                </turbo-frame>
            </li>
        {% endfor %}
        {% for t_wordpress_attachment in imported reversed %}
            <li class="flex mt-2">
                <turbo-frame loading="lazy" class="flex">
                    {% include "wordpress/_attachment.html" with img_src=t_wordpress_attachment.t_file.get_absolute_url %}
                </turbo-frame>
            </li>
        {% endfor %}
    </ul>
{% endblock %}