{% extends "fragments/content.html" %}


{% block breadcrumbs %}
    <a href="{% url "posts" %}" class="underline">Posts</a>
{% endblock %}

{% block main %}
    {% now "d" as day %}
    <ul>
        {% for t_entry in object_list %}
            <li class="py-2 my-2">
                {% include "entry/post_item.html" %}
            </li>
        {% endfor %}
    </ul>
    <div class="mt-2 text-center">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}


{% block meta %}
    {% include "fragments/create_post_menu.html" %}
{% endblock %}