{% with named_forms.syndication as syndication %}
<div class="pt-2" data-controller="formset">
    <details open>
        <summary>Where was this post syndicated?</summary>
            {{ syndication.management_form }}
            <div data-formset-target="forms">
                {% for form in syndication.forms  %}
                    {% include "entry/fragments/_syndication_form.html" with form=form %}
                {% endfor %}
            </div>
            <div class="mt-2">
                <button class="outline-button"
                        data-action="formset#addForm" data-total-form-id="{{ syndication.management_form.TOTAL_FORMS.id_for_label }}">Add</button>
                <div class="hidden">
                    <div data-formset-target="emptyForm">
                        {% include "entry/fragments/_syndication_form.html" with form=syndication.empty_form %}
                    </div>
                </div>
            </div>
    </details>
</div>
{% endwith %}