{% load i18n l10n %}
<div id="{{ id }}_div_map" data-controller="leaflet">
    <div id="{{ id }}_map"
         class="h-80"
         data-leaflet-target="map"
         data-default-lon="{{ default_lon|unlocalize }}"
         data-default-lat="{{ default_lat|unlocalize }}"
         data-default-zoom="{{ default_zoom|unlocalize }}"></div>
    {% if not disabled %}<span class="clear_features"><a href="javascript:{{ module }}.clearFeatures()">{% translate "Delete all Features" %}</a></span>{% endif %}
    {% if display_raw %}<p>{% translate "Debugging window (serialized value)" %}</p>{% endif %}
    <textarea data-leaflet-target="serialize" id="{{ id }}" class="vSerializedField required hidden" cols="150" rows="10" name="{{ name }}">{{ serialized }}</textarea>
</div>
