{{ html }}

<trix-editor {{ param_str|safe }}></trix-editor>

<template id="trixSelectFileButton">
    <button data-trix-action="selectFile"
            title="Select an existing file"
            tabindex="-1"
            class="trix-button trix-button--icon trix--button--select-file"
            name="selectFile"
            hx-get='{% url "file_browser" %}'
            hx-trigger="click"
            hx-target="body"
            hx-swap="beforeend"
    >
    </button>
</template>

<script lang="JavaScript">
    (function() {

    Trix.config.attachments.preview.caption = { name: false, size: false };

    function getSelectFileButton() {
        const template = document.getElementById("trixSelectFileButton");
        return template.content.firstElementChild;
    }

    document.addEventListener('trix-initialize', function(e) {
        const trix = e.target;
        const toolBar = trix.toolbarElement;
        {% block trix_init %}
        // Attachment of the button to the toolBar
        const selectFileButton = getSelectFileButton();
        toolBar.querySelector('.trix-button-group--file-tools').appendChild(selectFileButton);
        htmx.process(toolBar);
        {% endblock %}
    });
}());
</script>