{% extends "base.html" %}

{% block content %}
    {% if messages %}
        {% include "fragments/messages.html" %}
    {% endif %}
    <h1 class="text-xl">Post Kind Mapping</h1>
    <p class="mt-2">Select the post kind that each post kind should imported into.</p>
    <form method="post" class="flex-col mt-2 text-left">
        {% csrf_token %}
        {{ formset.management_form }}
        <table>
            <tr>
                <th class="align-top">Wordpress Post Kind</th>
                <th class="pl-2">Post Kind
                    <p class="block help-text" style="font-weight: normal;">Wordpress Post Kinds without a post kind selected will be imported as an Article.</p>
                </th>
            </tr>
            {% for form in formset.forms %}
                <tr class="p-2">
                    <td class="pr-2">{{ form.instance.name }}{{ form.id }}</td>
                    <td class="p-2">{{ form.m_post_kind }}{{ form.errors.m_post_kind }}</td>
                </tr>
                {% if form.non_field_errors %}
                    <tr>
                        <td colspan="2">{{ form.non_field_errors }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <button class="rounded mt-2 text-white bg-malachite-800 border-malachite-900 px-3 py-1 border" name="m_post_status" type="submit" data-turbo="false">Save Mapping</button>
    </form>
{% endblock %}