{% extends "fragments/content.html" %}

{% block breadcrumbs_block %}
{% endblock %}

{% block main %}
    <div id="webmentions" hx-target="this" hx-swap="innerHTML">
    {% include "indieweb/fragments/webmentions.html" %}
    </div>
    <details {% if drafts %}open{% endif %} class="mt-2">
        <summary>Drafts</summary>
        {% include "entry/fragments/post_list.html" with object_list=drafts %}
    </details>
    <details open>
        <summary>Recent Posts</summary>
        {% include "entry/fragments/post_list.html" with object_list=recent_posts %}
    </details>
{% endblock %}

{% block meta %}
    <div class="hidden md:block">
        {% include "fragments/create_post_menu.html" %}
    </div>
{% endblock %}
