{%  extends "base.html" %}
{% load static %}


{% block breadcrumbs %}
    <span class="text-negroni-800">New Status</span>
{% endblock %}

{% block content_before %}
    <form action="{% url "entry_create" %}" method="POST" class="w-11/12 flex">
{% endblock %}
{% block main %}
    <span class="font-serif">
    {% csrf_token %}
    {{ form.e_content }}
    {{  form.media.js }}
    </span>
{% endblock %}
{% block meta %}
    <section class="mb-2">
        <div class="mb-1">
            <button class="rounded text-white bg-malachite-800 border-malachite-900 px-3 py-1 border ">Post</button>
        </div>
    </section>
    <section class="mb-2">
        {{ form.m_post_status }}
    </section>
{% endblock %}
{% block content_after %}
    </form>
{% endblock %}
