{% load humanize %}

<div class="flex-col">
    <div class="flex">
        <div class="inline-block text-2xl h-auto{% if t_entry.t_post.is_draft %} opacity-50{% endif %}">{{ t_entry.t_post.m_post_kind.icon }}</div>
        <div class="ml-4 flex-grow">
            <header>
                {% if t_entry.p_name %}<h1 class="text-xl">{{ t_entry.p_name }}</h1>{% endif %}
                <span class="text-sm">
                {% if t_entry.t_post.is_draft %}
                    Draft: {{ t_entry.updated_at|date:"M d, Y H:m" }}
                {% else %}
                    {% ifequal t_entry.t_post.dt_published|date:"d" day %}
                        {{ t_entry.created_at|naturaltime }}
                    {% else %}
                        {{ t_entry.t_post.dt_published|date:"M d, Y" }}
                    {% endifequal %}
                {% endif %}
                </span>
            </header>
            <main class="content mt-2">
                {{ t_entry.p_summary|truncatechars:"140" }}
            </main>
            <footer class="flex mt-2 pb-2 border-b-2 border-bianca-600">
                <a href="{% url 'post_edit' t_entry.pk %}"><span class="mr-0.5">✏️</span>edit️</a>
                <a href="{% url 'public:post_detail' t_entry.t_post.uuid %}" class="ml-auto"><span class="mr-0.5">🔗</span>permalink</a>
            </footer>
        </div>
    </div>
</div>
